[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/TaskList.vim"]
	path = bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/Mark"]
	path = bundle/Mark
	url = https://github.com/vim-scripts/Mark.git
[submodule "bundle/cscope.vim"]
	path = bundle/cscope.vim
	url = https://github.com/vim-scripts/cscope.vim.git
[submodule "bundle/project.tar.gz"]
	path = bundle/project.tar.gz
	url = https://github.com/vim-scripts/project.tar.gz.git
[submodule "build/vim"]
	path = vim/vim
	url = https://github.com/vim/vim.git
[submodule "bundle/cscope_maps"]
	path = bundle/cscope_maps
	url = git@github.com:chazy/cscope_maps.git
[submodule "bundle/xterm-color-table.vim"]
	path = bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "bundle/CCTree"]
	path = bundle/CCTree
	url = https://github.com/hari-rangarajan/CCTree.git
